<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Time Person of the Year Search</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="time-box">
        <h1>TIME</h1>

        <div id="search-box">
        <p>Enter years to search between to see Time's People of the Year</p>
            <form method="post">
                <label name="startYear">Starting Year</label>
                <input name="startYear" type="number" placeholder="Start Year"/>
        
                <label name="endYear">Ending Year</label>
                <input name="endYear" type="number" placeholder="End Year"/>
        
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</body>
</html>