<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Time Person of the Year Search</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Hello world!</h1>
    <p>dickbutt</p>

    <form method="post">
        <label name="startYear">Starting Year</label>
        <input name="startYear" type="number" />

        <label name="endYear">Endinging Year</label>
        <input name="endYear" type="number" />

        <button type="submit">Search</button>
    </form>
</body>
</html>